<!-- Add FIle 2024/06/03 -->
{% extends "common/base.html" %}
{% load bootstrap %}

{% block title %}本の詳細{% endblock title %}

{% block content %}
    <h3 class="pb-2 border-bottom">本の詳細情報</h3>
    <h5 class="pb-2 border-bottom">作品名</h5>
        {{ book.title }}
    <h5 class="fw-bold mb-0">著者名</h5>
        {{ book.author.author }}
    <h5 class="fw-bold mb-0">ジャンル</h5>
        {{ book.genre.genre }}
    <br>
    <br>
    <a href="{% url 'index' %}" class="btn btn-default btn-sm">戻る</a>
{% endblock content %}